<template name="compose">
    {{#if messageSent}}
    <p>it's gone!</p>
     <button class="btn btn-primary btn-success sendMoreEmail"><span class="glyphicon glyphicon-send"></span> Compose another</button>
    {{else}}
        <div id="compose" class="panel">
        <h2>Compose your message...</h2>
        <img src="{{image}}" />
        <p><strong>FROM:</strong> {{> m_editable message_from_email_options}}</p>
        <p><strong>TO:</strong> {{> m_editable message_to_email_options}}</p>
        <p>Dear {{> m_editable message_to_name_options}},</p>
        <p>{{> m_editable message_options}}</p>
        <p>Yours,</p>
        <p>{{> m_editable message_from_name_options}}</p>
        <button class="btn btn-primary btn-success sendEmail"><span class="glyphicon glyphicon-send"></span> Send message</button>
    </div>
    {{/if}}

</template>